//----------------------------------------
// Variables
//----------------------------------------

$base-unit: 4px;

$phone: 0px;
$tablet: 600px;
$desktop: 840px;

$facebook: #3b5998;
$twitter: #1DA1F2;
$youtube: #FF0000;
$linkedin: #0072b1;
$instagram-bg: #e1306c;
$instagram-bg-grad: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);

//----------------------------------------
// @use
//----------------------------------------

@use "@material/theme" with (
  $primary: #333333,
  $secondary: #999999,
  $on-primary: #ffffff,
  $on-secondary: #ffffff,
);
@use '@material/animation';
@use '@material/banner/styles';
@use '@material/button/styles' as b-styles;
@use '@material/card';
@use '@material/checkbox';
@use '@material/form-field';
@use '@material/chips/styles' as c-styles;
@use '@material/circular-progress/mdc-circular-progress';
@use '@material/icon-button'; 
@use '@material/icon-button/mdc-icon-button';
@use '@material/data-table/data-table';
@use '@material/button';
@use '@material/button/mdc-button';
@use '@material/dialog';
@use '@material/drawer';
@use '@material/list';
@use '@material/elevation/mdc-elevation';
@use '@material/fab';
@use '@material/feature-targeting';
@use '@material/floating-label/mdc-floating-label';
@use '@material/image-list/mdc-image-list';
@use '@material/image-list';
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/linear-progress';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/list/mdc-list';
@use '@material/menu/mdc-menu';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/radio/styles' as d-styles;
@use '@material/ripple';
@use '@material/ripple/common';
@use '@material/segmented-button/styles' as e-styles;
@use '@material/select/styles' as f-styles;
@use '@material/select';
@use '@material/shape';
@use '@material/slider/styles' as g-styles;
@use '@material/snackbar/mdc-snackbar';
@use '@material/switch/styles' as h-styles;
@use '@material/tab-bar/mdc-tab-bar';
@use '@material/tab-scroller/mdc-tab-scroller';
@use '@material/tab-indicator/mdc-tab-indicator';
@use '@material/tab/mdc-tab';
@use '@material/textfield';
@use '@material/tooltip/styles' as i-styles;
@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/touch-target/mdc-touch-target';
@use '@material/typography/mdc-typography';

//----------------------------------------
// @include
//----------------------------------------

@include card.core-styles;
@include checkbox.core-styles;
@include form-field.core-styles;
@include checkbox.core-styles;
//@include icon-button.core-styles; // Undefined mixin
@include data-table.core-styles;
@include data-table.theme-baseline;
@include dialog.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;
@include fab.core-styles;
@include linear-progress.core-styles;
@include list.deprecated-core-styles;
@include form-field.core-styles;
@include textfield.core-styles;

//----------------------------------------
// @import
//----------------------------------------

@import "normalize-scss/sass/normalize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.css";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/images";

//----------------------------------------
// Custom
//----------------------------------------

* {letter-spacing: initial;}

html {min-height: 100%;}

body {
  //display: flex; 
  height: 100vh; 
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  // mobile width: 375px
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: inherit;
  max-width: 1480px;
  margin: 0 auto;
  width: 100%;
}

// Classes
//--------------------------------------------------

.mw-0 {min-width: 0 !important;}

.fa-xxs {font-size: ($base-unit * 3.5);}

.shadow-up-sm {
  box-shadow: 0 ($base-unit / 2) -$base-unit #00000013 !important;
}

// Drawer and Top app bar
//--------------------------------------------------

.mdc-drawer {}

.mdc-drawer-app-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mdc-top-app-bar {
  .custom1-top-app-bar__row {
    height: ($base-unit * 11);
    z-index: 100;

    .mdc-icon-button {
      i {
        vertical-align: bottom;
        }
    }
  }

  .custom2-top-app-bar__row {
    height: ($base-unit * 25);
  }

  .custom-tab-bar {}
}

.mdc-top-app-bar--fixed-adjust {
  padding: ($base-unit * 54) ($base-unit * 6) ($base-unit * 6);

  @media (max-width: $desktop) {
    padding-top: ($base-unit * 42);
  }
}

.avatar-button {
  @include button.ink-color(#ffffff);

  .mdc-button__icon {
    width: ($base-unit * 8);
    height: ($base-unit * 8);
    font-size: ($base-unit * 8);
  }
}

.mdc-top-app-bar__navigation-icon {
  display: none;

  @media (max-width: $desktop) {
    display: block;
  }
}

.main-content {flex: 1;}

// Social media icons
//--------------------------------------------------

.material-icons-fa {
  width: auto;
  height: auto;
  padding: 0;
  fill: none;
  border: none;
  background: transparent;
  
  .fa-stack {display:flex;}

  .fa-circle {
    color: #666666;
  }

  i {
      &:nth-of-type(1) {
        order: 2;
        z-index: 200;
      }

      &:nth-of-type(2) {
        order: 1;
        z-index: 100;
      }
  }

  .fa-facebook-f {
    + i {color: #3b5998;}
  }

  .fa-twitter {
    + i {color: #1DA1F2;}
  }

  .fa-youtube {
    + i {color: #FF0000;}
  }

  .fa-linkedin-in {
    + i {color: #0072b1;}
  }
  
  .fa-instagram {
    + i {
        background: $instagram-bg;
        background: $instagram-bg-grad;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }
}

// Tab bar
//--------------------------------------------------

.custom-tab-bar {
  @media (max-width: $desktop) {
    display: none;
  }
}

.mdc-tab-scroller__scroll-area--scroll {overflow-x: hidden;}

// Avatar menu
//--------------------------------------------------

@media (min-width: $phone) {
  .product-logo {
    font-size: 4vw;
    line-height: ($base-unit * 6);
  }
}

@media (min-width: $tablet) {
  .product-logo {font-size: ($base-unit * 6);}
}

@media (min-width: $desktop) {
  .product-logo {font-size: ($base-unit * 6);}
}

// 
//--------------------------------------------------

#menu-button {text-transform: capitalize;}